@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.profile-selector {
  background-image: url("./assets/camera-retro-solid.svg");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
